body{
    overflow-x:hidden;
    font-family: Lato,sans-serif;
}


.imgbg{
   
     background-image: linear-gradient(rgba(56, 51, 51, 0.65),rgb(58, 56, 56)),url("images/imga5.jpg");
     background-size:cover;
     height:100vh;
}
.studtext{
    color:aliceblue;
    padding-top:0rem;
    margin-top:3rem;
    text-align: center;
}
.studentinfo{
    color:aliceblue;
    padding:3rem;
    text-align: center;



}



.error {color: #FF0000;}
.container-blog{
 
  background-image:linear-gradient(rgba(23, 51, 51, 0.65),rgb(58, 56, 56)),url("images/blogsub.jpg");
  background-size:cover;
     height:1000px;
     margin:4rem;

  
}
.signout{
  font-size:1.5rem;
  position:absolute;
  right:9%;
  top:5%;
  color:white;

}
.text-area{
  position:absolute;
  padding:4rem;
  margin:4rem;
  
}
.white{
  color:white;
}
.sub-btn{
  color:black;
  position: relative;
  
  padding:1rem 1.25rem 1rem 1.25rem;
  margin-left:45%;
}

    
